<section   class="question" *ngIf="questionData && bgStyle; else error">

  <div class="question__text-container">
    <p class="question__text" *ngFor="let row of questionData.questionRows">{{row}}</p>
  </div>


  <form class="question__form" [formGroup]="form">
    <input class="question__input" type="text" name="answer" formControlName="answer">
  </form>


  <button class="question__answer-button" (click)="handleBtnClick()" type="button">Ответить</button>

  <div [ngStyle]="{background: bgStyle}"  class="question__image-container" >

  </div>

  <app-res-modal [model]="modalModel"></app-res-modal>

</section>


<ng-template #error>
  <p>
    Ты не должен был сюда попасть, комрад.
  </p>
</ng-template>
