 .res-modal {
   position: fixed;
   left: 150%;
   top: 0;
   right: 0;
   bottom: 0;
   background-color: aqua;
   z-index: 10;
   height: 100%;
   transition: all .3s;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   display: flex;
 }

 .res-modal_activated {
   left: 0;

 }

 .res-modal_success {
   background-color: white;
 }

 .res-modal_error {
   background-color: black;
 }
